<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/productList.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section class="container-general">
                <h1 class="first-title">Lista de productos</h1>
                <div class="container-create-filter-search">
                    <a href="/products/create"><button class="butto-create">Crear nuevo producto</button></a>
                    <select name="category" id="category" class="select-filter">
                        <option value="">Filtrar por Categoría</option>
                        <option value="">Batería</option>
                        <option value="">Guitarra</option>
                        <option value="">Teclado</option>
                        <option value="">Bajo</option>
                    </select>
                    <div class="nav-search">
                    <form action="">
                        <input type="search" placeholder="Burcar" class="">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </form>
                </div>
                </div>
                <div class="text-titles">
                    <i class="fa-regular fa-image"></i>
                    <h5 class="title-name">Nombre</h5>
                    <h5 class="title-price">Precio</h5>
                    <h4 class="text-category">Categorias</h4>
                    <h5 class="text-date">Fecha</h5>
                    <h5 class="update">Estado</h5>
                </div>
                <div class="box-articles">
                    <% products.forEach(product=> { %>
                        <article>
                            <img src="<%= product.img[0] %>" alt="">
                            <div class="text-name-price-charac">
                                <p class="text-charact">
                                    <%= product.characteristics %>
                                </p>
                                <p class="text-price">$<%= product.price %>
                                </p>
                                <a href="/products/<%= product.id %>/detail">Ver detalle</a>
                            </div>
                            <div class="text-price-second">
                                <p >$<%= product.price %>
                                </p>
                            </div>
                            <div class="box-category">
                                <p>Bateria</p>
                            </div>
                            <div class="box-date">
                                <p>fecha</p>
                            </div>
                            <div class="container-delete-update">
                                <div class="box-button-update">
                                    <a href="/products/<%= product.id %>/update">
                                        <button>Editar</button>
                                    </a>
                                </div>
                                <div class="box-button-delete">
                                    <form action="/products/<%= product.id %>/delete?_method=delete" method="post">
                                        <input type="submit" value="Eliminar">
                                    </form>
                                </div>
                            </div>
                        </article>
                        <% }) %>
                </div>
            </section>
        </main>
    <%- include('./partials/footer') %>

</body>

</html>