<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/productDetail.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <article class="container">
            <nav class="container-article">
                <div class="name-product">
                    <h4><%= product.name %></h4>
                </div>
                <div class="container-img-product-colum">
                    <% images. forEach (images =>{ %>
                        <img src="<%= images.img %>" alt="">
                    <% }) %>
                </div>
                <div class="container-img">
                    <img src="<%= product.img %>" alt="">
                </div>
                <section class="box-text-product">
                    <h4><%= product.name %></h4>
                    <p class="price">$<%= product.price %></p>
                    <p class="discount"><%= product.discount %> % de descuento</p>
                    <div class="box-characteristics">
                        <h5>Características</h5>
                        <p><%= product.characteristics %></p>
                    </div>
                    <div class="box-send">
                        <h5>Envíos</h5>
                        <P>Envios a todo el País<i class="fa-solid fa-truck"></i></P>
                    </div>
                    <div class="container-color">
                        <h5>Seleccione un color</h5>
                        <label for="">Color:</label>
                        <select name="color" id="">
                            <option value="#ff0000">Rojo</option>
                            <option value="#00ff00">Verde</option>
                            <option value="#0000ff">Azul</option>
                            <option value="#000000">Negro</option>
                        </select>
                    </div>
                    <div class="box-stock">
                        <h5>Stock disponible</h5>
                        <div class="container-inc-dec">
                            <label for="cantidad">Cantidad:</label>
                            <button id="decrement"> - </button>
                            <p><%= product.stock %></p>
                            <button id="increment"> + </button>
                        </div>
                    </div>
                    <div class="container-button">
                        <button id="input-shop">Comprar</button>
                        <button id="input-cart-shop">Agregar al carrito</button>
                    </div>
                </section>
            </nav>
            <div class="container-descripcion">
                <div class="caja-descripcion">
                    <h5>Descripción del Producto</h5>
                    <p class="texto"><%= product.descripcion %></p>
                </div>
                <div class="container-store">
                    <h5>Información de Tienda</h5>
                    <p class="texto"><%= product.store %></p>
                </div>
            </div>
            <nav class="container-other-product">
                <h5 class="name-other">Productos Similares</h5>
                <div class="box-article">
                    <% articles.forEach(articles=>{ %>
                        <article class="article-other">
                            <img src="<%= articles.img %>" alt="">
                            <div class="box-article-charact">
                                <h5><%= articles.name %></h5>
                                <p><%= articles.characteristics %></p>
                                <p class="price-art">$<%= articles.price %></p>
                            </div>
                        </article>
                    <% }) %>
                </div>
            </nav>
        </article>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
            <div class="footer-section">
                <img src="" alt="Datos fiscales">
                <p>Data fiscal</p> <br>
                <p>Copyright 1000-0000 ArpeggioMusic <br><br>
                <a href="">Políticas de privacidad</a>
                </p>
            </div>
        </div>
    </footer>
</body>

</html>