<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/shoppingHistory.css">
</head>

<body>
    <%- include('./partials/header') %>
    <main>
        <div class="container">
            <div class="Text-icon">
                <p>Mis Compras</p>
                <i class="fa-solid fa-list-ul"></i>
            </div>
            <% article.forEach(article => { %>
            <section class="container-section">
                <div class="container-article">
                    <div class="box-title-general">
                        <div class="container-date-number-send">
                            <h5 class="number-shop">Número de pedido:#<%= article.id %></h5>
                            <h5 class="text-date">Fecha:<%= article.date %></h5>
                            <div class="estado-producto">
                                <h5 class="text-send">Estado:</h5>
                                <% if(article.state === 'Entregado'){ %>
                                    <h5 class="send-entregado"><%= article.state %></h5>
                                <% } else if (article.state ==='Facturado') { %>
                                    <h5 class="send-entregado facturado"><%= article.state %></h5>
                                <% } else if (article.state === 'Cargado') { %>
                                    <h5 class="send-entregado cargado"><%= article.state %></h5>
                                <% } else if(article.state === 'Cancelado'){ %>
                                    <h5 class="send-entregado cancelado"><%= article.state %></h5>
                                <% } %>
                            </div>
                        </div>
                        <h5 class="text-resumen-shop">Resumen de Compra</h5>
                    </div>
                    <article>
                        <div class="box-title-second">
                            <h5>N°:#<%= article.id %></h5>
                            <h5>Fecha:<%= article.date %></h5>
                            <div class="title-text-entregado">
                                <p class="title-art">Estado:</p>
                                <% if(article.state === 'Entregado'){ %>
                                    <p class="text-entregado"><%= article.state %></p>
                                <% } else if (article.state ==='Facturado') { %>
                                    <p class="text-entregado facturado"><%= article.state %></p>
                                <% } else if (article.state === 'Cargado') { %>
                                    <p class="text-entregado cargado"><%= article.state %></p>
                                <% } else if(article.state === 'Cancelado'){ %>
                                    <p class="text-entregado cancelado"><%= article.state %></p>
                                <% } %>
                            </div>
                        </div>
                        <div class="box-img-text">
                            <img src="<%= article.img %>" alt="">
                            <div class="box-text-article">
                                <button>Volver a comprar</button>
                                <p class="name-caract"><%= article.characteristics %></p>
                                <p class="price">$<%= article.price %></p>
                            </div>
                            <a href="#">Comprar de nuevo</a>
                        </div>
                        <div class="container-resumen">
                            <div class="box-text-cost">
                                <p>Pago Completo</p>
                                <p>Costo del Envío</p>
                                <p>Total</p>
                            </div>
                            <div class="box-cost">
                                <p>$0.00</p>
                                <p>$0.00</p>
                                <p>$0.00</p>
                            </div>
                        </div>
                    </article>
                </div>
            </section>
            <% }) %>
        </div>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
            <div class="footer-section">
                <img src="" alt="Datos fiscales">
                <p>Data fiscal</p> <br>
                <p>Copyright 1000-0000 ArpeggioMusic <br><br>
                <a href="">Políticas de privacidad</a>
                </p>
            </div>
        </div>
    </footer>
</body>

</html>