<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/store.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="container-flex">
        <section class="filter-products">
            <div class="filter-container-items">
                <p>MARCAS</p>
                <div class="input-filters">
                    <input type="checkbox" value="casio" id="casio">
                    <label for="casio">Casio</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="yamaha" id="yamaha">
                    <label for="yamaha">yamaha</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="korg" id="korg">
                    <label for="korg">korg</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="pearl" id="pearl">
                    <label for="pearl">pearl</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="samson" id="samson">
                    <label for="samson">samson</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="remo" id="remo">
                    <label for="remo">remo</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="jackson" id="jackson">
                    <label for="jackson">jackson</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="ibanez" id="ibanez">
                    <label for="ibanez">ibanez</label>
                </div>
            </div>
            <div class="filter-container-items">
                <p>Rango de precio:</p>
                <div class="price-rangue input-filters">
                    <div class="input-price-container">
                        <input class="input-price" type="number" name="min-price" id="min-price">
                        <label for=""></label>
                    </div>
                    <div class="input-price-container">
                        <input class="input-price" type="number" name="max-price" id="max-price">
                        <label for=""></label>
                    </div>
                    <div class="center-elements">
                        <button type="button">Filtrar</button>
                    </div>
                </div>
                
            </div>
            <div>
            </div>
            <div class="filter-container-items">
                <p>CATEGORIAS</p>
                <div class="input-filters">
                    <input type="checkbox" value="Guitarras" id="Guitarras">
                    <label for="Guitarras">Guitarras</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="Teclados" id="Teclados">
                    <label for="Teclados">Teclados</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="Audio DJ" id="Audio DJ">
                    <label for="Audio DJ">Audio DJ</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="Audio hogar" id="Audio hogar">
                    <label for="Audio hogar">Audio hogar</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="Baterias" id="Baterias">
                    <label for="Baterias">Baterias</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="Violines" id="Violines">
                    <label for="Violines">Violines</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="Consolas" id="Consolas">
                    <label for="Consolas">Consolas</label>
                </div>
                <div class="input-filters">
                    <input type="checkbox" value="Microfonos" id="Microfonos">
                    <label for="Microfonos">Microfonos</label>
                </div>
            </div>
        </section>
        <section class="container-items">
            <div class="container-flex">
                <% [0,1,2,4,5].forEach( i => { %>
                    <% products.forEach( product => {%>
                        <div class="article-other">
                            <a href="/products/<%= product.id %>/detail">
                                <img class="img-responsive" src="<%= product.image %>" alt="Imagen de instrumentos de la tienda">
                                <div class="box-article-charact">
                                    <h5><%= product.name %></h5>
                                    <p><%= product.details %></p>
                                    <p class="price-art">$ <%= product.price %></p>
                                </div>
                            </a>
                        </div>
                    <% }); %>
                <% }); %>
            </div>
        </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>