<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/userProfile.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <section class="user-info">
            <div class="container-image">
                <img class="user-image" src="/images/userProfile/profile_2.jpg" alt="Imagen de perfil del usuario">
            </div>
            <div class="user-detail">
                <p> <b>Nombres: </b> <%=userInfo.name%></p>
                <p> <b>Apellidos: </b> <%=userInfo.lastName%></p>
                <p> <b>Email: </b> <%=userInfo.email%></p>
                <p> <b>Direccion: </b> <%=userInfo.address%></p>
                <p> <b>Ciudad: </b> <%=userInfo.city%></p>
                <p> <b>DNI: </b> <%=userInfo.dni%></p>
                <p> <b>Telefono: </b> <%=userInfo.phone%></p>
            </div>
            <div class="edit-profile">
                <button type="button">Editar informacion</button>
            </div>
        </section>
        <hr>
        <section class="order-history">
            <div class="tittle">
                <p>Historial de pedidos</p>
            </div>
            <% orderHistory.forEach( order => { %>
                <article class="container-info">
                    <div class="order-item">
                        <p><b>Numero de pedido: </b># <%= order.id  %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Fecha: </b><%= order.date  %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Monto: </b>$ <%= order.mount %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Estado: </b><span class="status-<%= order.status %>"><%= order.status %></span></p>
                    </div>
                    <div class="order-item center-items">
                    <form action="/history">
                        <button class="btn-order-details" type="submmit">
                            Ver detalles
                        </button>
                    </form>
                    </div>
                </article>
            <% }); %>
        </section>
    </main>
    <footer>
        <div class="footer-container">
            <div class="footer-section">
                <h4>Términos y condiciones</h4>
                <p>Condiciones de pagos</p>
                <p>Problemas de envios, compras</p>
                <p>Preguntas Frecuentes</p>
                <p>Botón de arrepentimiento</p>
            </div>
            <div class="footer-section">
                <h4>Redes sociales</h4>
                <p><i class="fa-brands fa-instagram"></i>Instagram</p>
                <p><i class="fa-brands fa-facebook"></i>Facebook</p>
                <p><i class="fa-brands fa-twitter"></i>Twitter</p>
            </div>
            <div class="footer-section">
                <h4>Contacto</h4>
                <p><i class="fa-brands fa-whatsapp"></i>00-0000-0000</p>
                <p><i class="fa-solid fa-envelope"></i>arpeggiomusic@gmail.com</p>
                <p>Sucursales</p>
            </div>
            <div class="footer-section">
                <img src="" alt="Datos fiscales">
                <p>Data fiscal</p> <br>
                <p>Copyright 1000-0000 ArpeggioMusic <br><br>
                <a href="">Políticas de privacidad</a>
                </p>
            </div>
        </div>
    </footer>
</body>
</html>