<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/userList.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="user-info">
            <% users.forEach( user => { %>
                <article class="container-info">
                    <div class="container-image">
                        <% if(user.image) {%>
                            <img class="user-image" src="/images/userProfile/<%=user.image%>" alt="Imagen de perfil del usuario">
                        <% } else { %>
                                <img class="user-image" src="/images/userProfile/default.avif" alt="Imagen de perfil del usuario">
                        <% } %>
                    </div>
                    <div class="user-detail">
                        <p> <b>Usuario: </b> <%=user.userName%></p>
                        <p> <b>Nombres: </b> <%=user.firstName%></p>
                        <p> <b>Apellidos: </b> <%=user.lastName%></p>
                        <p> <b>Email: </b> <%=user.email%></p>
                        <p> <b>Direccion: </b> <%=user.address%></p>
                        <p> <b>Ciudad: </b> <%=user.Town.name%></p>
                        <p> <b>Provincia: </b> <%=user.Province.name%></p>
                        <p> <b>DNI: </b> <%=user.dni%></p>
                        <p> <b>Telefono: </b> <%=user.phone%></p>
                    </div>
                    <div class="container-btn">
                        <form action="/user/<%= user.userName %>" class="form-btn">
                            <button class="btn-order-details btn-perfil" type="submmit">
                                Ver perfil
                            </button>
                        </form>
                        <form action="/user/<%= user.userName %>/edit" class="form-btn">
                            <button class="btn-order-details btn-edit" type="submmit">
                                Editar perfil
                            </button>
                        </form>
                        <% if(user.active) { %>
                            <form action="/user/<%= user.userName %>/delete" class="form-btn">
                                <button class="btn-order-details btn-delete" type="submmit">
                                    Eliminar
                                </button>
                            </form>
                        <% } else { %>
                            <form action="/user/<%= user.userName %>/active" method="post" class="form-btn">
                                <button class="btn-order-details btn-active" type="submmit">
                                    Activar
                                </button>
                            </form>
                        <% } %>
                    </div>
                </article>
            <% }); %>
        </section>
        <section class="container-pagination">
            <div class="paginacion">
                <% if(page > 0) { %>
                    <a href="/user?page=<%= page -1 %>">&laquo;</a>
                    <a href="/user?page=<%= page -1 %>"><%= page %></a>
                <% } %>
                <a href="#" class="activo"><%= page +1 %></a>
                <% if(page !== pageLimit) { %>
                    <a href="/user?page=<%= page +1 %>"><%= page +2 %></a>
                    <a href="/user?page=<%= page +1 %>">&raquo;</a>
                <% } %>
            </div>
        </section>
        <section class="container-pagination">
            <div class="center-items order-item">
                <form action="/user/export">
                    <button type="submit">Exportar listado</button>
                </form>
            </div>
        </section>
    </main>
    <hr>
    <%- include('../partials/footer') %>
</body>
</html>