<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/userProfile.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="user-info">
            <div class="container-image">
                <img class="user-image" src="/images/userProfile/profile3.avif" alt="Imagen de perfil del usuario">
            </div>
            <div class="user-detail">
                <p> <b>Usuario: </b> <%=userInfo.userName%></p>
                <p> <b>Nombres: </b> <%=userInfo.firstName%></p>
                <p> <b>Apellidos: </b> <%=userInfo.lastName%></p>
                <p> <b>Email: </b> <%=userInfo.email%></p>
                <p> <b>Direccion: </b> <%=userInfo.address%></p>
                <p> <b>Ciudad: </b> <%=userInfo.city%></p>
                <p> <b>DNI: </b> <%=userInfo.dni%></p>
                <p> <b>Telefono: </b> <%=userInfo.phone%></p>
            </div>
            <div class="edit-profile">
                <form action="/user/<%= userInfo.id %>/edit">
                    <button type="submmit">Editar informacion</button>
                </form>
            </div>
        </section>
        <hr>
        <section class="order-history">
            <div class="tittle">
                <p>Historial de pedidos</p>
            </div>
            <% orderHistory.forEach( order => { %>
                <article class="container-info">
                    <div class="order-item">
                        <p><b>Numero de pedido: </b># <%= order.id  %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Fecha: </b><%= order.date  %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Monto: </b>$ <%= order.mount %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Estado: </b><span class="status-<%= order.status %>"><%= order.status %></span></p>
                    </div>
                    <div class="order-item center-items">
                    <form action="/history">
                        <button class="btn-order-details" type="submmit">
                            Ver detalles
                        </button>
                    </form>
                    </div>
                </article>
            <% }); %>
        </section>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>