
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/category.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include('../partials/header') %>
        <main class="container-detail">
            <div>
                <div class="category-Manipulation">
                    <h2>¡Aquí podrás modificar y eliminar las categorías de Arpeggio!</h2>
                </div>
            </div>
             <div class="category-Container">
                    <div class="detail-text">
                        <%= category.id  %>
                        <%= category.name %>
                    </div>
          
                <div class="category-Form">
                    <form class="form-detail" action="/category/<%= category.id %>/update" method="post">
                        <input class="btn-success-detail" type="submit" value="Modificar categoría">
                    </form>
                    <form class="form-delete" action="/category/<%= category.id %>?_method=delete" method="post">
                        <input class="btn-danger-delete" type="submit" value="Eliminar categoría">
                    </form>
                </div>
            </div>

       
            
           
        </main>
        <%- include('../partials/footer') %>
</body>

</html>
