
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categorías</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/category.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>

<body>
    <%- include('../partials/header') %>
        <main class="container-delete">
             <div class="category-container-delete">
                    <div class="text-delete">
                        <%= category.id  %>
                        <%= category.name %>
                    </div>
                <div class="text-delete">
                    <p>¿Estas seguro de que quieres eliminar este categoria?</p>
                </div>
          
                <div class="category-Form">
                    <form action="/category/<%= category.id %>?_method=delete" method="post">
                        <input class="btn-danger-delete" id = "delCategory" type="submit" value="Eliminar categoría">
                    </form>
                </div>
                <form class="form-keep" action="/category" method="get">
                    <button class="btn-black">Cancelar</button>
                   </form>
            </div>
   
           
        </main>
        <%- include('../partials/footer') %>
</body>

</html>