<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/categoryEdit.css">

</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="container">
                <% if (action==='create' ) { %>
                    <form action="/category" id="form" method="post" enctype="multipart/form-data">
                        <div class="name">
                            <label>
                                Nombre:
                            </label>
                            <input class="text" type="text" name="name">
                            <p class="error" id="p-name" style="display: none;"></p>
                        </div>
                        <input type="file" accept=".png, .jpg, .jpge" name="img" id="img">
                        <ul class="error-ul">
                            <% errors.forEach(errorActual => { %>
                            <li><%= errorActual.msg %></li>
                            <% }) %>
                          </ul>
                        <p id="p-img" style="display: none;" class="error"></p>
                        <div class="button">
                            <button class="btn-black" type="submit" >Crear</button>
                        </div>
                 </form>
                        <%} else if (action==="update" ) { %>
                            <form action="/category/<%= category.id %>/update?_method=put" method="post" enctype="multipart/form-data">
                                <div class="name">
                                    <label>
                                        Nombre:
                                    </label>
                                    <input class="text" type="text" name="name" value="<%= category.name %>">
                                    <p class="error" id="p-name" style="display: none;"> </p>
                                </div>
                                <div class="img1">
                                    <img class="category-img" src="/images/categories/<%= category.img %>">
                                    <input type="file" accept=".png, .jpg, .jpge" name="img" id="img">
                                    <ul class="error-ul">
                                        <% errors.forEach(errorActual => { %>
                                        <li><%= errorActual.msg %></li>
                                        <% }) %>
                                      </ul>
                                    <p id="p-img" style="display: none;" class="error"></p>
                                </div>
                                <div class="button">
                                    <button class="btn-black" type="submit" disabled>Guardar</button>
                                </div>
                                <% } %>
                           </form>
            </div>
           <script src="/js/Category.js"></script>
            </div>

        </main>
        <%- include('../partials/footer') %>

</body>

</html>