<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/userLogin.css">
</head>

<body>
    <%- include('../partials/header') %>
    <main>
        <div class="general">
            <section class="login">
                <div class="container-form">
                    <form action="/user/login" method="POST">
                        <div class="input">
                            <label>Usuario</label>
                            <input type="text" class=" <%= error? 'error' : '' %>" name="userName" id="userName" value="<%= user ? user.userName : '' %>">
                        </div>
                        <div class="input">
                            <label>Contraseña</label>
                            <input type="password" name="password" class=" <%= error? 'error' : '' %>" id="password" value="<%= user ? user.password : '' %>">
                        </div>
                        <div>
                            <input type="checkbox" name="remember" class="remember">
                            <label for="remember">Recordar usuario</label>
                        </div>
                        <button>Continuar</button>
                    </form>
                    <% if(error){ %>
                        <div>
                            <p class="text-error">Fallo el login, usuario y/o contraseña incorrectos.</p>
                        </div>
                    <% } %>
                    <div class="img-button">
                        <div class="box-img">
                            <img class="redes" src="/images/logos/image 1.png" alt="redes">
                        </div>
                        <div class="box-img">
                            <img class="redes" src="/images/logos/image 3.png" alt="redes">
                        </div>
                        <form action="/user/register" method="get">
                            <div class="input-crear">
                            <button class="redes" class="new-account">Crear Cuenta</button>
                        </div>
                    </form>
                        
                    </div>
                </div>
            </section>
            <section class="logo">
                <div>
                    <img src="/images/productos/studio.JPG" alt="logo">
                </div>
            </section>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>