<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/userProfile.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <section class="user-info">
            <div class="container-image">
                <img class="user-image" src="/images/userProfile/<%= user.image %>" alt="Imagen de perfil del usuario">
                <div>
                    <a href="#openModal">cambiar imagen</a>
                    <div id="openModal" class="modalDialog">
                        <div>
                            <a href="#close" title="Close" class="close">X</a>
                            <h2>Actualizar foto de perfil</h2>
                            <form method="POST" enctype="multipart/form-data" action="/user/<%= user.userName %>/image?_method=PUT">
                                <div class="form-group">
                                    <label for="userimage">Seleccionar imagen</label>
                                    <input type="file" multiple accept=".jpg, .jpeg, .png" name="userimage"   id="userimage" >
                                </div>
                                <button type="submmit">Actualizar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-detail">
                <p> <b>Usuario: </b> <%=user.userName%></p>
                <p> <b>Nombres: </b> <%=user.firstName%></p>
                <p> <b>Apellidos: </b> <%=user.lastName%></p>
                <p> <b>Email: </b> <%=user.email%></p>
                <p> <b>Direccion: </b> <%=user.address%></p>
                <p> <b>Ciudad: </b> <%=user.Town.name%></p>
                <p> <b>Provincia: </b> <%=user.Province.name%></p>
                <p> <b>DNI: </b> <%=user.dni%></p>
                <p> <b>Telefono: </b> <%=user.phone%></p>
            </div>
            <div class="edit-profile">
                <div>
                    <form action="/user/<%= user.userName %>/edit">
                        <button type="submmit">Editar informacion</button>
                    </form>
                </div>
                <div class="edit-pwd">
                    <a href="#openModalPwd">Cambiar clave</a>
                        <div id="openModalPwd" class="modalDialog">
                            <div>
                                <a href="#close" title="Close" class="close">X</a>
                                <h2>Actualizar clave</h2>
                                <form method="POST" action="/user/<%= user.userName %>/password?_method=PUT">
                                    <div class="form-group">
                                        <div>
                                            <label for="oldPassword">Clave actual</label>
                                            <input type="password" name="oldPassword" id="oldPassword">
                                        </div>
                                        <div>
                                            <label for="password">Nueva clave</label>
                                            <input type="password" name="password" id="password">
                                        </div>
                                        <div>
                                            <label for="confirmPassword">Confirmar clave</label>
                                            <input type="password" name="confirmPassword" id="confirmPassword">
                                        </div>
                                    </div>
                                    <button type="submmit">Actualizar</button>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
            <div>
                
            </div>
        </section>
        <hr>
        <section class="order-history">
            <div class="tittle">
                <p>Historial de pedidos</p>
            </div>
            <% orderHistory.forEach( item => { %>
                <article class="container-info">
                    <div class="order-item">
                        <p><b>Numero de pedido: </b># <%= item.id  %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Fecha: </b><%= item.date  %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Monto: </b>$ <%= item.total %></p>
                    </div>
                    <div class="order-item">
                        <p><b>Estado: </b><span class="status-<%= item.shippingStatus %>"><%= item.shippingStatus %></span></p>
                    </div>
                    <div class="order-item center-items">
                    <form action="/history">
                        <button class="btn-order-details" type="submmit">
                            Ver detalles
                        </button>
                    </form>
                    </div>
                </article>
            <% }); %>
        </section>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/profile.js">
    </script>
</body>
</html>