<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/userRegister.css">
</head>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="main-container">
            <div class="left-column">
                <% if(action === 'register') { %>
                    <form class="form-center" method="POST" action="/user">
                <% } %>
                <% if(action === 'update') { %>
                    <form class="form-center" method="POST" action="/user/<%= user.userName %>?_method=PUT">
                <% } %>
                    <div class="separacion">
                        <label for="userName">Usuario</label>
                        <input class="form-input <%= errors.userName? 'error-info' : '' %>" type="text" name="userName" id="userName" value="<%= user ? user.userName : '' %>">
                        <div class="error-info"><%= errors.userName? errors.userName.msg : '' %></div>
                    </div>
                    <div class="separacion">
                        <label for="firstName">Nombre</label>
                        <input class="form-input <%= errors.firstName? 'error-info' : '' %>" type="text" name="firstName" id="firstName" value="<%= user ? user.firstName : '' %>">
                        <div class="error-info"><%= errors.firstName? errors.firstName.msg : '' %></div>
                    </div>
                    <div class="separacion">
                        <label for="lastName">Apellido</label>
                        <input class="form-input <%= errors.lastName? 'error-info' : '' %>" type="text" name="lastName" id="lastName" value="<%= user ? user.lastName : '' %>">
                        <div class="error-info"><%= errors.lastName? errors.lastName.msg : '' %></div>
                    </div>
                    <div class="separacion">
                        <label for="dni">DNI</label>
                        <input class="form-input <%= errors.dni? 'error-info' : '' %>" type="number" name="dni" id="dni" value="<%= user ? user.dni : '' %>">
                        <div class="error-info"><%= errors.dni? errors.dni.msg : '' %></div>
                    </div>
                    <div class="separacion">
                        <label for="email">E-mail</label>
                        <input class="form-input <%= errors.email? 'error-info' : '' %>" type="email" name="email" id="email" value="<%= user ? user.email : '' %>">
                        <div class="error-info"><%= errors.email? errors.email.msg : '' %></div>
                    </div>
                    <div class="separacion">
                        <label for="address">Direccion</label>
                        <input class="form-input <%= errors.address? 'error-info' : '' %>" type="text" name="address" id="address" value="<%= user ? user.address : '' %>">
                        <div class="error-info"><%= errors.address? errors.address.msg : '' %></div>
                    </div>
                    <div class="separacion">
                        <label for="city">Provincia</label>
                        <select name="city" id="city" class="form-input <%= errors.city? 'error-info' : '' %>" >
                            <% if(user.id_province) { %>
                                <% for (let i=0; i < provinces.length; i++) { %>
                                    <option value="<%=provinces[i].id %>" <%= provinces[i].id == user.id_province ? 'selected' : '' %> > <%=provinces[i].name %> </option>
                                <% } %>
                            <% } else { %>
                                <option value="0">Seleccione una Provincia</option>
                                <% for (let i=0; i < provinces.length; i++) { %>
                                    <option value="<%=provinces[i].id %>" > <%=provinces[i].name %> </option>
                            <% }} %>
                        </select>
                        <div class="error-info"><%= errors.city? errors.city.msg : '' %></div>
                    </div>
                    <div class="separacion">
                        <label for="town">Partido/Localidad</label>
                        <select name="town" id="town" class="form-input <%= errors.town? 'error-info' : '' %>" >
                            <% if(user.id_town) { %>
                                <% for (let i=0; i < towns.length; i++) { %>
                                    <option value="<%=towns[i].id %>" <%= towns[i].id == user.id_town ? 'selected' : '' %> > <%=towns[i].name %> </option>
                                <% } %>        
                            <% } %>                            
                        </select>
                        <div class="error-info"><%= errors.town? errors.town.msg : '' %></div>
                    </div>
                    <div class="separacion">
                        <label for="phone">Teléfono</label>
                        <input class="form-input <%= errors.phone? 'error-info' : '' %>" required type="tel" name="phone" id="phone" value="<%= user ? user.phone : '' %>">
                        <div class="error-info"><%= errors.phone? errors.phone.msg : '' %></div>
                    </div>
                    <% if(action !== 'update') { %>
                        <div class="separacion">
                            <label for="password">Contraseña</label>
                            <input class="form-input <%= errors.password? 'error-info' : '' %>" type="password" name="password" id="password" value="<%= user ? user.password : '' %>">
                            <div class="error-info"><%= errors.password? errors.password.msg : '' %></div>
                        </div>
                        <div class="separacion">
                            <label for="confirmPassword">Confirmar contraseña</label>
                            <input class="form-input <%= errors.confirmPassword? 'error-info' : '' %>" type="password" name="confirmPassword" id="confirmPassword" value="<%= user ? user.confirmPassword : '' %>">
                            <div class="error-info"><%= errors.confirmPassword? errors.confirmPassword.msg : '' %></div>
                        </div>
                    <% } %>
                    <div>
                        <button class="btn-format" id="btn-send" type="submmit">Enviar</button>
                    </div>
                    <% if(errors){ %>
                        <div>
                            <p class="error-info">Por favor verifique los datos cargados</p>
                            <div class="error-info"><%= errors.userName? errors.userName.msg : '' %></div>
                            <div class="error-info"><%= errors.dni? errors.dni.msg : '' %></div>
                            <div class="error-info"><%= errors.email? errors.email.msg : '' %></div>
                        </div>
                    <% } %>
                </form>
            </div>
        </div>
    </main>
    <%- include('../partials/footer') %>
    <script src="/js/register.js">
    </script>
</body>
</html>