<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <!-- Modal de Cookies -->
        <section>
            <div class="modal" id="modal">
                <div class="modal-content">
                <h2>Uso de Cookies</h2>
                <p>Esta página web usa cookies
                    Las cookies de este sitio web se usan para personalizar el contenido y los anuncios, ofrecer funciones de redes sociales y analizar el tráfico. Además, compartimos información sobre el uso que haga del sitio web con nuestros partners de redes sociales, publicidad y análisis web, quienes pueden combinarla con otra información que les haya proporcionado o que hayan recopilado a partir del uso que haya hecho de sus servicios.</p>
                <button class="acept-btn" id="acceptBtn">Aceptar</button>
                <button class="close-btn" onclick="closeModal()">Cancelar</button>
                </div>
            </div>
        </section>
        <section class="slider">
            <img src="/images/slider_01.jpg" alt="Imagen de instrumentos de la tienda">
            <div class="float-text">
                <div class="row-direction"> <</div>
                <div>
                    <p>
                        La musica comienza aqui <br>
                        descubre tu talento con nuestros instrumentos
                    </p>
                </div>
                <div class="row-direction">> </div>
            </div>
        </section>
        <section class="brands-container">
            <img class="logos" src="/images/logos/casio.jpg" alt="Logo de Casio">
            <img class="logos" src="/images/logos/yamaha.jpg" alt="Logo de Yamaha">
            <img class="logos" src="/images/logos/korg.jpg" alt="Logo de korg">
            <img class="logos" src="/images/logos/pearl.jpg" alt="Logo de pearl">
            <img class="logos" src="/images/logos/samson.jpg" alt="Logo de samson">
            <img class="logos" src="/images/logos/remo.jpg" alt="Logo de remo">
            <img class="logos" src="/images/logos/jackson.jpg" alt="Logo de jackson">
            <img class="logos" src="/images/logos/ibanez.jpg" alt="Logo de ibanez">
        </section>
        <section class="container-items">
            <div class="sub-title">
                Categorias
            </div>
            <% categories.forEach( category => { %>
                <div class="item-box">
                    <img class="img-responsive" src="/images/categories/<%= category.img %>" alt="Imagen de instrumentos de la tienda">
                    <div class="text-in-categories">
                        <p><%= category.name %></p>
                    </div>
                </div>
            <% }); %>
        </section>
        <section class="container-items">
            <div class="sub-title">
                Lo mas vendido
            </div>
            <% products.forEach( product => {%>
                <div class="article-other">
                    <a href="/products/<%= product.id %>">
                        <img class="img-responsive" src="/images/productos/<%= product.image[0] %>" alt="Imagen de instrumentos de la tienda">
                        <div class="box-article-charact">
                            <h5><%= product.name %></h5>
                            <p><%= product.characteristics %></p>
                            <p class="price-art">$<%= product.price %></p>
                        </div>
                    </a>
                </div>
            <% }) %>
        </section>
        <section class="container-items">
            <div class="sub-title">
                Ofertas
            </div>
            <% productsOfertas.forEach( product => {%>
                <div class="article-other">
                    <a href="/products/<%= product.id %>">
                        <img class="img-responsive" src="/images/productos/<%= product.image[0] %>" alt="Imagen de instrumentos de la tienda">
                        <div class="box-article-charact">
                            <h5><%= product.name %></h5>
                            <p><%= product.characteristics %></p>
                            <p class="price-art">$<%= product.price %></p>
                        </div>
                    </a>
                </div>
            <% }) %>
        </section>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/index.js">
    </script>
</body>

</html>