<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/shoppingHistory.css">
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <section class="container-order-shop">
                <div class="container">
                    <h1 class="first-title">Mis compras</h1>
                    <i class="fa-solid fa-list-ul"></i>
                </div>
                <div class="container-titles">
                    <div class="text-titles">
                        <i class="fa-regular fa-image"></i>
                        <h5 class="title-name">Nombre</h5>
                        <h5 class="title-price">Precio</h5>
                        <h4 class="text-category">Cantidad</h4>
                        <h5 class="text-date">Fecha</h5>
                    </div>
                </div>
                <div class="box-articles">
                    <% articles.forEach(article=> { %>
                        <article>
                            <img src="<%= article.image[0] %>" alt="">
                            <div class="text-name-price-charac">
                                <p class="text-charact">
                                    <%= article['product.characteristics'] %>
                                </p>
                                <p class="text-price">$<%= article.price %>
                                </p>
                                <a href="/products/<%= article.product_id %>">Ver detalle</a>
                            </div>
                            <div class="text-price-second">
                                <p>$<%= article.price %>
                                </p>
                            </div>
                            <div class="box-category">
                                <p>
                                    <%= article.quantity %>
                                </p>
                            </div>
                            <div class="box-date">
                                <p>
                                    <%= article.date %>
                                </p>
                            </div>
                        </article>
                        <% }) %>
                </div>
            </section>
        </main>
        <%- include('./partials/footer') %>
</body>

</html>