<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/store.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <% function checkeds(checkbox, checkboxCompare) {
            console.log(checkbox)
            console.log(typeof(checkbox))
            console.log(checkboxCompare)
            console.log(typeof(checkboxCompare))
            if(checkboxCompare){
                if(checkbox in [checkboxCompare]){
                    console.log('checked="checked"')
                    return 'checked="checked"'
                }
            }
            return ''
        } %>
        <form action="/store" method="GET" id="miFormulario">
            <div class="container-flex">
            <section class="filter-products">
                <div class="filter-container-items">
                    <p>MARCAS</p>
                    <% brands.forEach( brand => { %>
                        <div class="input-filters">
                            <input type="checkbox" value="<%= brand.id %>" id="<%= brand.name %>" name="brands" <% if(brandsChecked){
                                                                                                                    if(brandsChecked.includes(parseInt(brand.id))){
                                                                                                                        %> checked="checked" <% } } %> >
                            <label for="<%= brand.name %>"><%= brand.name %></label>
                        </div>    
                    <% }) %>
                </div>
                <div class="filter-container-items">
                    <p>CATEGORIAS</p>
                    <% categories.forEach( category => { %>
                        <div class="input-filters">
                            <input type="checkbox" value="<%= category.id %>" id="<%= category.name %>" name="categories" <% if(categoriesCheckd){
                                                                                                                        if(categoriesCheckd.includes(parseInt(category.id))){
                                                                                                                            %> checked="checked" <% } } %> >
                            <label for="<%= category.name %>"><%= category.name %></label>
                        </div>
                    <% }) %>
                </div>
                <div class="filter-container-items">
                    <!-- <p>Rango de precio:</p> -->
                    <div class="price-rangue input-filters">
                        <!-- <div class="input-price-container">
                            <input class="input-price" type="number" name="min-price" id="min-price">
                            <label for=""></label>
                        </div>
                        <div class="input-price-container">
                            <input class="input-price" type="number" name="max-price" id="max-price">
                            <label for=""></label>
                        </div> -->
                        <div class="center-elements">
                            <button type="submit">Filtrar</button>
                        </div>
                    </div>    
                </div>
            </form>
        </section>
        <section class="container-items">
            <div class="container-flex">
                <% [0,1,2,4,5].forEach( i => { %>
                    <% products.forEach( product => {%>
                        <div class="article-other">
                            <a href="/products/<%= product.id %>">
                                <img class="img-responsive" src="/images/productos/<%= product.image[0] %>" alt="Imagen de instrumentos de la tienda">
                                <div class="box-article-charact">
                                    <h5><%= product.name %></h5>
                                    <p><%= product.details %></p>
                                    <p class="price-art">$ <%= product.price %></p>
                                </div>
                            </a>
                        </div>
                    <% }); %>
                <% }); %>
            </div>
        </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
    <script>
        const categories = document.querySelectorAll('input');

        // Agrega un manejador de eventos 'change' a cada checkbox
        categories.forEach(checkbox => {
        checkbox.addEventListener('change', function () {
            const categories = document.querySelectorAll('input[name="categories"]:checked');
            const brands = document.querySelectorAll('input[name="brands"]:checked');
            const categoriesSelecteds = Array.from(categories).map(checkbox => checkbox.value);
            const brandsSelecteds = Array.from(brands).map(checkbox => checkbox.value);
            console.log('Valores seleccionados:', categoriesSelecteds);
            console.log('Valores seleccionados:', brandsSelecteds);
            const params = new URLSearchParams();
            categoriesSelecteds.forEach(valor => {
                params.append('category', valor);
            });
            brandsSelecteds.forEach(valor => {
                params.append('brands', valor);
            });
            const url = `/store?${params.toString()}`;
            console.log(url);
            window.location.href = url;
        })
    })



    </script>
</body>
</html>