<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/store.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div class="container-flex">
        <section class="filter-products">
            <div class="filter-container-items">
                <p>MARCAS</p>
                <% brands.forEach( brand => { %>
                    <div class="input-filters">
                        <input type="checkbox" value="<%= brand.name %>" id="<%= brand.name %>">
                        <label for="<%= brand.name %>"><%= brand.name %></label>
                    </div>    
                <% }) %>
            </div>
            <div class="filter-container-items">
                <p>Rango de precio:</p>
                <div class="price-rangue input-filters">
                    <div class="input-price-container">
                        <input class="input-price" type="number" name="min-price" id="min-price">
                        <label for=""></label>
                    </div>
                    <div class="input-price-container">
                        <input class="input-price" type="number" name="max-price" id="max-price">
                        <label for=""></label>
                    </div>
                    <div class="center-elements">
                        <button type="button">Filtrar</button>
                    </div>
                </div>
                
            </div>
            <div>
            </div>
            <div class="filter-container-items">
                <p>CATEGORIAS</p>
                <% categories.forEach( category => { %>
                    <div class="input-filters">
                        <input type="checkbox" value="<%= category.name %>" id="<%= category.name %>">
                        <label for="<%= category.name %>"><%= category.name %></label>
                    </div>
                <% }) %>
            </div>
        </section>
        <section class="container-items">
            <div class="container-flex">
                <% [0,1,2,4,5].forEach( i => { %>
                    <% products.forEach( product => {%>
                        <div class="article-other">
                            <a href="/products/<%= product.id %>">
                                <img class="img-responsive" src="/images/productos/<%= product.image[0] %>" alt="Imagen de instrumentos de la tienda">
                                <div class="box-article-charact">
                                    <h5><%= product.name %></h5>
                                    <p><%= product.details %></p>
                                    <p class="price-art">$ <%= product.price %></p>
                                </div>
                            </a>
                        </div>
                    <% }); %>
                <% }); %>
            </div>
        </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>