<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Arpeggio Music</title>
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/store.css">
</head>
<body>
    <%- include('./partials/header') %>
    <main>
        <div id="miFormulario">
            <div class="container-flex">
            <section class="filter-products">
                <button id="filter-toggle" class="filter-toggle-button">Filtros</button>
                <div class="filter-container-items">
                    <p>MARCAS</p>
                    <% brands.forEach( brand => { %>
                        <div class="input-filters">
                            <input type="checkbox" value="<%= brand.id %>" id="<%= brand.name %>" name="brands" <% if(brandsChecked){
                                                                                                                    if(brandsChecked.includes(parseInt(brand.id))){
                                                                                                                        %> checked="checked" <% } } %> >
                            <label for="<%= brand.name %>"><%= brand.name %></label>
                        </div>    
                    <% }) %>
                </div>
                <div class="filter-container-items">
                    <p>CATEGORIAS</p>
                    <% categories.forEach( category => { %>
                        <div class="input-filters">
                            <input type="checkbox" value="<%= category.id %>" id="<%= category.name %>" name="categories" <% if(categoriesCheckd){
                                                                                                                        if(categoriesCheckd.includes(parseInt(category.id))){
                                                                                                                            %> checked="checked" <% } } %> >
                            <label for="<%= category.name %>"><%= category.name %></label>
                        </div>
                    <% }) %>
                </div>
        </section>
        <section class="container-items">
            <div class="container-flex">
                <% products.forEach( product => {%>
                    <div class="article-other">
                        <a href="/products/<%= product.id %>">
                            <img class="img-responsive" src="/images/productos/<%= product.image[0] %>" alt="Imagen de instrumentos de la tienda">
                            <div class="box-article-charact">
                                <h5><%= product.name %></h5>
                                <p><%= product.details %></p>
                                <p class="price-art">$ <%= product.price %></p>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        </section>
        <section class="container-items">
            <section class="container-pagination">
                <div class="paginacion">
                    <% if(page > 0) { %>
                        <a href="<%= page %>" class="btn-page"><-</a>
                        <a href="<%= page %>" class="btn-page"><%= page %></a>
                    <% } %>
                    <a href="#" class="btn-page-selected"><%= page +1 %></a>
                    <% if(page < pageLimit) { %>
                        <a href="<%= page +2 %>" class="btn-page"><%= page +2 %></a>
                        <a href="<%= page +2 %>" class="btn-page">-></a>
                    <% } %>
                </div>
            </section>
        </section>
        </div>
    </main>
    <%- include('./partials/footer') %>
    <script src="/js/store.js"> </script>
</body>
</html>