<header>
    <section class="container-general">
        <div class="caja-one">
            <div class="nav">
                <div class="menu-toggle">&#9776;</div>
                <ul class="menu">
                    <div class="caja-login">
                        <% if(user) { %>
                            <div class="logo-user">
                                <a href="/user/<%= user.userName %>"><img src="/images/userProfile/<%= user.image %>" alt="Logo del usuario"></a>
                                
                                <div class="menu-user">
                                    <ul>
                                        <li><a href="/user/<%= user.userName %>">Perfil</a></li>
                                        <% if(user.id_rol === 2) { %>
                                            <li><a href="/admin">Admin</a></li>
                                        <% } %>
                                        <li><a href="/user/<%= user.userName %>/logout">Salir</a></li>
                                    </ul>
                                </div>
                            </div>
                        <% } else { %>
                                <li id="text-log-in"><a href="/user/login">Log in</a></li>
                                <li><a href="/user/register">Sign up</a></li>
                        <% } %>
                    </div>
                    <li><a href="/store">Tienda</a></li>
                    <li><a href="/store">Ofertas</a></li>
                    <li><a href="/about">Sobre nosotros</a></li>
                    <li><a href="/shipping">Envios</a></li>
                </ul>
            </div>

            <div class="caja-padre-logo">
                <a href="/">
                    <img src="/images/logos/logo-arpeggio.JPG" class="img-logo" alt="Logo de Arpeggio Music">
                </a>                    
            </div>
            <div class="box-cart-count">
                <a href="/productCart"><i class="fa-solid fa-cart-plus"></i>
                <% if(user.cart) { %>
                    <span  class="count-cart"
                    <% if(user.cart.products.length > 0) { %>
                        style="display: block;"
                    <% }else{ %>
                        style="display: none;"
                    <% } %>
                    ><%= user.cart.products.length %></span>
                <% } else { %>
                    <span  class="count-cart"></span>
                <% } %>
                </a>
            </div>
        </div>
        <div class="nav-bar">
            <div class="second-img-logo">
                <a href="/"><img src="/images/logos/logo-arpeggio.JPG" class="img-logo-ar" alt=""></a>
            </div>
            <div class="caja-searchbar">
                <div class="box">
                    <input type="search" placeholder="Buscar" class="src" id="busquedaInput">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="barra-menu">
                    <ul class="lista-menu">
                        <li><a href="/store">Tienda</a></li>
                        <li><a href="/store">Ofertas</a></li>
                        <li><a href="/about">Sobre nosotros</a></li>
                        <li><a href="/shipping">Envios</a></li>
                        <!-- <li><a class="remove-border" href="#">Cursos</a></li> -->
                    </ul>
                </div>
                <div id="resultados">
                </div>
            </div>
            <div class="register-bar">
                <div class="caja-login">
                    <% if(user) { %>
                        <div class="logo-user">
                            <a href="/user/<%= user.userName %>"><img src="/images/userProfile/<%= user.image %>" alt="Logo del usuario"></a>
                            
                            <div class="menu-user">
                                <ul>
                                    <li><a href="/user/<%= user.userName %>">Perfil</a></li>
                                    <% if(user.id_rol === 2) { %>
                                        <li><a href="/admin">Admin</a></li>
                                    <% } %>
                                    <li><a href="/user/<%= user.userName %>/logout">Salir</a></li>
                                </ul>
                            </div>
                        </div>
                    <% } else { %>
                        <ul class="lista-login">
                            <li id="text-log-in"><a href="/user/login">Log in</a></li>
                            <li><a href="/user/register">Sign up</a></li>
                        </ul>
                    <% } %>
                </div>
                <div class="cart">
                    <a href="/productCart" ><i class="fa-solid fa-cart-plus"></i> 
                    <% if(user.cart) { %>
                        <span class="count-cart" 
                        <% if(user.cart.products.length > 0) { %>
                            style="display: block;"
                        <% }else{ %>
                            style="display: none;"
                        <% } %>
                        ><%= user.cart.products.length %></span>
                    <% } else { %>
                        <span class="count-cart" ></span>
                    <% } %>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <script src="/js/header.js">
    </script>
</header>