<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <% if (action=='create' ) { %>
        <title>Crear nuevo producto</title>
        <%} else { %>
            <title>Editar producto</title>
            <% } %>
                <link rel="stylesheet" href="/styles/index.css">
                <link rel="stylesheet" href="/styles/productManipulation.css">
</head>

<body>
    <%- include('../partials/header') %>
        <main>
            <div class="container">
                <% if (action=='create' ) { %>
                    <h4 class="form-title">Crear nuevo producto</h4>
                    <form action="/products" method="POST" class="form-container" enctype="multipart/form-data">
                <%} else { %>
                    <h4 class="form-title">Editar producto</h4>
                    <form action="/products/<%=product.id %>/update?_method=put" method="POST" class="form-container">
                <% } %>
                        <div class="form-group">
                            <label for="name">Nombre</label>
                            <input type="text" name="name" class="group-input <%= locals.errors && errors.name?'invalid':null %>"
                            <% if (action=='create' ) { %>
                                value ="<%= locals.oldData? oldData.name: null %>"
                            <% }else {%>
                                value="<%= locals.oldData? oldData.name:product.name %>"
                            <% } %>
                                id="name"
                            >
                                <% if (locals.errors && errors.name) { %>
                                    <div class="text-danger">
                                        <%= errors.name.msg %>
                                    </div>
                                <% } %>
                        </div>
                        <div class="form-group">
                            <label for="category">Categoría</label>
                            <select name="category" id=""  class="group-input <%= locals.errors && errors.category?'invalid':null %>">
                                    <option value="">Elija una categoria</option>
                                <% categorys.forEach(category =>{ %>
                                    <% if (action=='create') { %>
                                        <option value="<%= category.name %>"
                                            <%= locals.oldData && (category.name == oldData.category)?'selected':null %> ><%= category.name %></option>
                                    <% }else { %>
                                        <option value="<%=category.name %>"
                                            <%= product && (product.category == category.name)?'selected':null %> ><%= category.name %></option>
                                    <% } %>
                                <% }) %>
                            </select>
                                <% if (locals.errors && errors.category) { %>
                                    <div class="text-danger">
                                        <%= errors.category.msg %>
                                    </div>
                                <% } %>
                        </div>
                        <div class="form-group">
                            <label for="price">Precio</label>
                            <input type="number" name="price" class="group-input <%= locals.errors && errors.price?'invalid':null %>"
                            <% if (action=='create' ) { %>
                                value ="<%= locals.oldData? oldData.price: null %>"
                            <% }else {%>
                                value="<%= locals.oldData? oldData.price:product.price %>"
                            <% } %>
                                id="price"
                            >
                                <% if (locals.errors && errors.price) { %>
                                    <div class="text-danger">
                                        <%= errors.price.msg %>
                                    </div>
                                <% } %>
                        </div>
                        <div class="form-group">
                            <label for="discount">Eliga un descuento (Opcional)</label>
                            <select name="discount" id="" class="group-input <%= locals.errors && errors.discount?'invalid':null %>">
                                <option value="">Ninguno</option>
                                <% let discounts = ['20','30','50','60'] %>
                                <% for (const oneDiscount of discounts) { %>
                                    <% if (action == 'create') { %>
                                        <option value="<%=oneDiscount %>"
                                            <%= locals.oldData && (oneDiscount == oldData.discount)?'selected':null %> ><%= oneDiscount %></option>
                                    <% } else { %>
                                    <option value="<%=oneDiscount %>"
                                        <%= product && (product.discount == oneDiscount)?'selected':null %> ><%= oneDiscount %></option>
                                <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="trademark">Elija una Marca (Opcional)</label>
                            <select name="trademark" id="" class="group-input">
                                <option value="">Seleccione una marca</option>
                                <% let trademarks = ['CASIO','YAMAHA','PEARL','JACKSON','SAMSON','REMO','IBANEZ'] %>
                                <% for (const oneTrademark of trademarks) { %>
                                    <% if (action == 'create') { %>
                                        <option value="<%=oneTrademark %>"
                                            <%= locals.oldData && (oneTrademark == oldData.trademark)?'selected':null %> ><%= oneTrademark %></option>
                                    <% } else { %>
                                    <option value="<%=oneTrademark %>"
                                        <%= product && (product.trademark == oneTrademark)?'selected':null %> ><%= oneTrademark %></option>
                                <% } %>
                                <% } %>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="stock">Stock</label>
                            <input type="number" name="stock" class="group-input <%= locals.errors && errors.stock?'invalid':null %>"
                            <% if (action=='create' ) { %>
                                value ="<%= locals.oldData? oldData.stock: null %>"
                            <% }else {%>
                                value="<%= locals.oldData? oldData.stock:product.stock %>"
                            <% } %>
                                id="stock"
                            >
                                <% if (locals.errors && errors.stock) { %>
                                    <div class="text-danger">
                                        <%= errors.stock.msg %>
                                    </div>
                                <% } %>
                        </div>
                        <div class="form-group">
                            <label for="colors">Color</label>
                                <% colors.forEach(color => { %>
                                    <div class="container-color">
                                        <p><%= color.name %></p>
                                        <div class="wrap-toggle">
                                            <input type="checkbox" id="<%= color.id %>" class="offscreen" name="colors" value="<%= color.name %>"
                                            <%= locals.oldData&& (Array.isArray(oldData.colors)? oldData.colors:[oldData.colors])&& oldData.colors? (oldData.colors.includes(color.name)?'checked':null):null %>
                                            >
                                            <label for="<%= color.id %>" class="switch" ></label>
                                        </div>
                                    </div>   
                                <% }) %>
                                <% if (locals.errors && errors.colors) { %>
                                    <div class="text-danger">
                                        <%= errors.colors.msg %>
                                    </div>
                                <% } %>
                        </div>
                        <div class="form-group">
                            <label for="img">Cargar imagen</label>
                            <input type="file" multiple accept=".jpg, .jpeg, .png" name="img" id="img">
                            <% if (locals.errors && errors.img) { %>
                                <div class="text-danger">
                                    <%= errors.img.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="characteristics">Características del producto</label>
                            <textarea class="group-input <%= locals.errors && errors.characteristics?'invalid':null %>" name="characteristics" cols="30" rows="10" maxlength="500"><%= (action == 'create')? ( locals.oldData? oldData.characteristics: null ):( locals.oldData? oldData.characteristics: product.characteristics )  %></textarea>
                            <% if (locals.errors && errors.characteristics) { %>
                                <div class="text-danger">
                                    <%= errors.characteristics.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="description">Descripción del producto</label>
                            <textarea class="group-input <%= locals.errors && errors.description?'invalid':null %>" name="description" cols="30" rows="10" maxlength="500"><%= (action == 'create')? ( locals.oldData? oldData.description: null ): ( locals.oldData? oldData.description: product.description) %></textarea>
                            <% if (locals.errors && errors.description) { %>
                                <div class="text-danger">
                                    <%= errors.description.msg %>
                                </div>
                            <% } %>
                        </div>
                        <div class="form-group">
                            <label for="store">Información de la tienda (Opcional)</label>
                            <textarea class="group-input" name="store" cols="30" rows="10" maxlength="500"><%= (action == 'create')? ( locals.oldData? oldData.store: null ): ( locals.oldData? oldData.store: product.store) %></textarea>
                        </div>
                        <% if (action=='create' ) { %>
                            <button class="btn-black" type="submit">Guardar</button>
                        <%} else { %>
                            <button class="btn-black" type="submit">Editar</button>
                        <% } %>
                    </form>
            </div>
        </main>
        <%- include('../partials/footer') %>
</body>

</html>